<p id="notice"><%= notice %></p>

<h1>Listing Controlled Vocabs</h1>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Name</th>
      <th>Image filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlled_vocabs.each do |controlled_vocab| %>
      <tr>
        <td><%= controlled_vocab.field %></td>
        <td><%= controlled_vocab.name %></td>
        <td><%= controlled_vocab.image_filename %></td>
        <td><%= link_to 'Show', controlled_vocab %></td>
        <td><%= link_to 'Edit', edit_controlled_vocab_path(controlled_vocab) %></td>
        <td><%= link_to 'Destroy', controlled_vocab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controlled vocab', new_controlled_vocab_path %>
