<h2><%= t('.header') %></h2>
<table class="table table-striped <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
  <thead>
    <tr><th><p><%= t('.attribute_name_label') %></p></th><th><p style="margin-left:1cm"><%= t('.attribute_values_label') %></p></th></tr>
  </thead>
  <tbody>
    <%= render 'attribute_rows', presenter: presenter %>
    <%= presenter.attribute_to_html(:embargo_release_date) %>
    <%= presenter.attribute_to_html(:lease_expiration_date) %>
  </tbody>
</table>
